@font-face{
  font-family: 'SemplicitaPro';
  src: url(https://assets.codepen.io/4291733/SemplicitaPro-Medium.woff2);
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 2;

  font-family: 'SemplicitaPro';

  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

.title {
  font-weight: 550;
}