body {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 2;

  background-color: #f3f3f3;
}

a {
  text-decoration: none;
}

.line {
  border-bottom: 1px solid #d5d5d5;
}

.inner {
  width: 1080px;
  position: relative;
  margin: 0 auto;
}

.main {
  min-height: 600px;
  padding: 8px;
}
