body {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 2;
}

a {
  text-decoration: none;
}

.line {
  border-bottom: 1px solid #eee;
}

.inner {
  width: 1080px;
  position: relative;
  margin: 0 auto;
}

.container {
  min-height: 700px;
}
